
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-mid: 500;
    --fw-bold: 900;
    
    --clr-light: #d3d3d3;
    --clr-dark: #303030;
    --clr-grey: #9e9e9e;
    --clr-accent: #16e0bd;
    --bg1: #F9CB9C;
    --bg2: #f1bc86;
    --bg3: #ecc399;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 50rem) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    font-weight: var(--fw-reg);
}

button:active,
button{
    border: none;
    background-color: var(--bg2);
    cursor: pointer;
}

.btnfavorite:active,
.btnfavorite{
    background-color: var(--bg3);
}

h1,
h2{
    line-height: 1;
    margin: 0;
}


h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }

.btn {
    color: var(--bg2);
}
.inputBtn{
    margin-right: 2em;
}
.todos{
    background-color: var(--bg1);
}

.allTodos{
    background-color: var(--bg2);
}
.favorites{

    background-color: var(--bg3);
}

.allTodos,
.favorites,
.todos{
    box-shadow: var(--bs);
    align-self: flex-start;
    margin-bottom: 2em;
    padding: 1em .5em;
}
.title{
    text-align: center;
    margin: .5em 0;
}


.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    border-bottom: 1px solid var(--clr-grey);
    padding-bottom: 1em;
    color: var(--clr-dark);
    max-width: 100%;
}
span{
    margin-left: 1em;
    font-weight: var(--fw-mid);
}

@media (min-width: 50rem) {
    .container{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }
    .todos{
        width: 30%;
    }
    .allTodos,
    .favorites{
        width: 33%;
    }
}

